.navbar {
   background-color: white;
   font-size: large;
}

.body-fat-calc{
   background-color: white;
}

.body-fat-calc-header{
   background-image: url(/bodyfat/img/fundo_bodyfatcalc.jpg);
   color: white;
   height: 100%;
}

.tabelas{
   background-color: #FABDA0;
}

.exemplos{
   background-color: #FAD2F5;
}

.bg-footer{
   background-color: #000000;
   color: white;
}

.margin {
   padding-top: 50px;
   padding-bottom: 50px;
}

.metodos{
   padding-top: 50px;
   padding-bottom: 50px;
}

.imageBalanca{
   margin-bottom: 50px;
}

.hidden-methods{
   margin-top: 0px;
}

.active{
   border-top: 5px solid #B8FACF;
   border-bottom: 5px solid #B8FACF;
 }

 .container {
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   flex-wrap: wrap;
   width: 20vw;
   margin: 0 auto;
   min-height: 10vh;
 }

 .btn {
   flex: 1 1 auto;
   margin: 10px;
   padding: 10px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 100% auto;
   color: white;
   /*text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
  }

  #btn-calc:hover {
   /*background-image:none;*/
   background-position: right center; /* change the direction of the change here */
 }

  .btn-calc {
   background-image: linear-gradient(to right, #B8FACF 0%, #8fd3f4 51%, #B8FACF 100%);
 }

 .imageExemplo {
   width: 80%;
   height: 80%;
   max-width: auto;
   max-height: auto;
}

html { 
   scroll-behavior: smooth;
 }